__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.venv/

# Logs and temp files
*.log
*.tmp

# Local DB and call recordings
db.db
data/
records/

# Secrets
.env

# IDE
.vscode/
.idea/

# Binary assets
*.ttf
*.otf
